#weDo{
    padding: 2rem 0;
    background-color: var(--secondary-color);
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

#weDoTitle{
    font-size: 7rem;
    padding-left: 4%;
    display: inline-block;
    width: 15%;
    line-height: 10rem;
}

#weDoGrid{
    padding-top: 2rem;
    display: inline-grid;
    width: 60%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
}

.wedo-grid-item{
    font-size: 1.5rem;
    font-weight: 500;
}