#leaveReviewButtonWrapper{
    position: relative;
    margin-right: 1.5em;
}

#leaveReviewButton{
    display: flex;
    cursor: pointer;
    width: 11em;
}
#leaveReviewButton span{
    display: inline-block;
    white-space: nowrap;
}

#leaveReviewButtonMenu{
    
    position: absolute;
    top: 105%;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    pointer-events: none;
    
}

.leave-review-button-item{
    z-index: 999;
    display: block;
    width: 10vw;
    background-color: aliceblue;
    text-align: center;
    font-family: sans-serif;
    padding: 0.6vw 0 0.6vw 2vw;
    text-decoration: none;
    font-size: 0.9rem;
    color: black;
    margin: 0.3vw 0;
    position: relative;
    transition: 0.3s filter;
    border-radius: 5px;
    opacity: 0;
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    pointer-events: all;
}
.leave-review-button-item:hover{
    filter: brightness(75%);
}

.leave-review-button-item::after{
    content: "";
    display: inline-block;
    position: absolute;
    left: 1vw;
    top: 0.4vw;
    width: 1.5vw;
    aspect-ratio: 1/1;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    
}

.leave-review-button-item.facebook{
    background-color: #4267B2;
}
.leave-review-button-item.facebook::after{
    background-image: url("./icons/facebook.svg");
    background-size: 110%;
}

.leave-review-button-item.google{
    background-color: #DB4437;
}
.leave-review-button-item.google::after{
    background-image: url("./icons/google.svg");
    background-size: 85%;
}

.leave-review-button-item.yelp{
    background-color: #FF1A1A;
}
.leave-review-button-item.yelp::after{
    background-image: url("./icons/yelp.svg");
}

.leave-review-button-item.nextdoor{
    background-color: #19975d;
}
.leave-review-button-item.nextdoor::after{
    background-image: url("./icons/nextdoor.svg");
}


/* TABLET STYLES */
@media only screen and (min-width: 650px) and (max-width: 990px){

    #leaveReviewButtonWrapper{
        margin-right: 2vw;
    }

    .leave-review-button-item{
        padding: 0.7vw 0 0.7vw 2.5vw;
    }
    
    .leave-review-button-item::after{
        width: 2.5vw;
    }
    #leaveReviewButton span{
        font-size: 0.9rem;
    }
}
 
/* MOBILE STYLES */
@media only screen and (max-width: 649px){
    #leaveReviewButtonWrapper{
        margin-right: 2vw;
    }
    .leave-review-button-item{
        padding: 1.5vw 0 1.5vw 4vw;
        width: 80%;
        margin: 1vw 0;
        font-size: 0.9rem;
    }
    
    .leave-review-button-item::after{
        left: 2vw;
        top: 1.4vw;
        width: 4.5vw;
    }
}
