#reviewsWrapper{
    width: 55%;
    position: relative;
}

#reviewsTitle{
    font-family: var(--secondary-font);
    font-size: 4rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

#reviewsContainer{
    position: relative;
    width: 100%;
    height: 25rem;
    display: inline-block;
    width: 100%;
}

.review{
    /* display: inline-block; */
    width: 18rem;
    padding: 1.5rem 1.8rem;
    border-radius: 15px;
    aspect-ratio: 1/1.2;
    color: var(--secondary-text-color);
    background-color: var(--main-color);
    margin: 0.5rem;
    font-size: 1.2rem;
    user-select: none;
    cursor: grab;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.5);
}
/* width */
.review .desc::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  .review .desc::-webkit-scrollbar-track {
    background: transparent;
    
  }
  
  /* Handle */
  .review .desc::-webkit-scrollbar-thumb {
    background: #bd2525;
    border-radius: 999px;
  }

.review:active{
    cursor: grabbing;
}
    .stars-wrapper{
        display: flex;
        justify-content: center;
        margin: 0.8rem 0.1rem 1.2rem 0.1rem;
    }
    .star{
        width: 15%;
        aspect-ratio: 1/1;
    }
    .review .name{

    }
    .review .desc{
        display: inline-block;
        line-height: 1.8rem;
        font-weight: 200;
        font-style: italic;
        color: #e9e9e9;
        letter-spacing: 0.1rem;
        height: 15rem;
        overflow-y: scroll;
         
    }

    /* Small Laptop Styles */
    @media only screen and (min-width: 991px) and (max-width: 1400px){
        #reviewsTitle{
            font-size: 3rem;
        }
        
        #reviewsContainer{
            height: 25rem;
        }
        
        .review{
            width: 15rem;
            padding: 1.4rem 1.7rem;
            border-radius: 14px;
            font-size: 1rem;
        }
    }

    /* TABLET STYLES */
@media only screen and (min-width: 650px) and (max-width: 990px){
    #reviewsWrapper{
        width: 55%;
    }
    
    #reviewsTitle{
        font-size: 2rem;
        margin-left: 1vw;
        margin-bottom: 1vw;
    }
    
    #reviewsContainer{
        height: 40vw;
    }
    
    .review{
        width: 22vw;
        height: 33vw;
        padding: 1vw 2vw;
        border-radius: 10px;
        margin: 1vw;
        font-size: 0.9rem;
    }
        .star{
            width: 16%;
        }
        .review .desc{
            line-height: 1.5rem;
            height: 10rem;
        }
}
 
/* MOBILE STYLES */
@media only screen and (max-width: 649px){
    #reviewsWrapper{
        width: 100%;
    }
    
    #reviewsTitle{
        font-size: 1.8rem;
        text-align: center;
        margin-left: 0;
        margin-bottom: 1vh;
    }
    
    #reviewsContainer{
        width: 100%;
        height: 35vh;
    }
    
    .review{
        width: 34vw;
        padding: 1.5vh 1.8vh;
        border-radius: 8px;
        height: 50vw;
        margin: 0.5vh;
        font-size: 0.7rem;
    }
        .review .desc{
            line-height: 1.2rem;
            letter-spacing: 0.05rem;
            height: 9rem;
        }
}

/* SMALL  MOBILE STYLES */
@media only screen and (max-width: 380px){
    #reviewsTitle{
        font-size: 1.6rem;
        margin: 1vh 0;
    }
    .stars-wrapper{
        margin:1vh;
    }
    
    .review{
        font-size: 0.7rem;
        width: 20vh;
    }
    .review .desc{
        height: 7rem;
    }
}

/* VERY SMALL  MOBILE STYLES */
@media only screen and (max-width: 290px){
    #reviewsTitle{
        font-size: 1.5rem;
        margin: 1vh 0;
    }
    
    .review{
        font-size: 0.6rem;
        width: 18vh;
        padding: 1vh 1.2vh;
    }
}