#tagline{
    padding: 4vw 0;
}

#taglineWrapper{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
}

#taglineContent{
    width: 40%;
}

#taglineAnimation{
    width: 40%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#taglineContent p{
    color: var(--secondary-text-color);
    font-weight: 200;
    font-size: 1.8rem;
    letter-spacing: 0.2rem;
}
#taglineContent p:nth-child(1){
    margin-bottom: 3rem;
}
#taglineButton{
    margin-top: 2rem;
    border: none;
    background-color: var(--secondary-color);
}

/* Medium Laptop Styles */
@media only screen and (min-width: 1401px) and (max-width: 1920px){
    #taglineContent p{
        font-size: 1.7rem;
        line-height: 3rem;
    }
}

/* Small Laptop Styles */
@media only screen and (min-width: 1025px) and (max-width: 1400px){
    #taglineContent p:nth-child(1){
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
    #taglineContent p{
        font-size: 1.4rem;
    }
}

/* TABLET STYLES */
@media only screen and (min-width: 650px) and (max-width: 990px){
    #tagline{
        padding: 4vw 0;
    }
    #taglineContent p{
        font-size: 1.4rem;
        letter-spacing: 0.1rem;
    }
    #taglineContent p:nth-child(1){
        margin-bottom: 3vw;
    }
    #taglineButton{
        margin-top: 3vw;
    }
    #taglineAnimation{
        transform: scale(1.5);
    }
}
 
/* MOBILE STYLES */
@media only screen and (max-width: 649px){
    #tagline{
        padding: 4vh 0;
    }
    #taglineWrapper{
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        justify-content: space-evenly;
    }
    
    #taglineContent{
        width: 80%;
    }
    
    #taglineAnimation{
        width: 60%;
        transform: scale(1.4);
    }
    
    #taglineContent p{
        font-size: 1.1rem;
        letter-spacing: 0.1rem;
        line-height: 1.5rem;
    }
    #taglineContent p:nth-child(1){
        margin-bottom: 3vh;
    }
    #taglineButton{
        margin-top: 2rem;
        font-size: 1.2rem;
        width: 22vh;
        border: none;
        background-color: var(--secondary-color);
    }
}

/* SMALL  MOBILE STYLES */
@media only screen and (max-width: 380px){
    #taglineButton{
        font-size: 1.2rem;
        width: 24vh;
    }
}