@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');
header{
    position: relative;
}

#mainLogo{
    display: block;
    width: 35%;
    margin-top: 1em;
    margin-left: 32.5%;
}

#inBuildingTitle{
    text-align: center;
    color: var(--secondary-text-color);
    margin: 0.5em;
    font-family: "Caprasimo", sans-serif;
    font-size: 5em;
}

#inBuildingAnim{
    display: inline-block;
    margin-left: 35%;
    width: 30%;
    aspect-ratio: 1/1;
}

/* MOBILE STYLES */
@media only screen and (max-width: 649px){
    #mainLogo{
        display: block;
        width: 50%;
        margin-top: 1em;
        margin-left:25%;
    }
    
    #inBuildingTitle{
        margin: 2em 0;
        font-size: 2em;
    }
    
    #inBuildingAnim{
        display: inline-block;
        margin-left: 10%;
        width: 80%;
        aspect-ratio: 1/1;
    }
}