footer{
    border-top: 3px solid var(--secondary-color);
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    color: var(--secondary-text-color);
    font-weight: 200;
}
    footer *{
        margin: 0 1rem;
    }
    #footerLogo{
        width: 15%;
    }