#reviewLogo{
    width: 40vw;
    margin-top: 2vw;
}

.leave-review-form{
    margin-top: 5vw;
}

.review-form-title{
    line-height: 4rem;
}

/* TABLET STYLES */
@media only screen and (min-width: 650px) and (max-width: 990px){
    #reviewLogo{
        width: 60vw;
        margin-top: 4vw;
    }
    .leave-review-form{
        margin-top: 20vw;
    }
}
 
/* MOBILE STYLES */
@media only screen and (max-width: 649px){
    #reviewLogo{
        width: 60vw;
        margin-top: 10vw;
    }
    .leave-review-form{
        margin-top: 35vw;
    }
}
