*{
    margin: 0;
    padding:0;
}

:root{
    --main-bg-color: #232323;
    --main-text-color: white;
    
    --secondary-text-color: #d92828;
}

body{
    background-color: var(--main-bg-color);
}
/* TABLET STYLES */ 

@media only screen and (min-width: 650px) and (max-width: 990px){ 

  

} 

  

/* MOBILE STYLES */ 

@media only screen and (max-width: 649px){ 

 

} 